{% if display_rows %}
<div class="table-wrapper table-container">
    <table class="table is-fullwidth is-bordered is-striped is-hoverable is-narrow rows-and-columns">
        <tbody>
        {% for row in display_rows %}
            {% for cell in row %}
            <tr>
                <th>{{ cell.column }}</th>
                {% if highlighted_text and cell.column == "text" %}
                <td class="col-{{ cell.column|to_css_class }}">{{ highlighted_text|safe }}</td>
                {% else %}
                <td class="col-{{ cell.column|to_css_class }}">{{ row.display(cell.column) }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
<a class="button is-link" href="https://nla.gov.au/{{issue_id}}/view#{{page}}">View in Trove</a>
{% else %}
    <p class="zero-results">0 records</p>
{% endif %}
